#  DB 접속 정보
#  url: localhost:3306/silverbridge_db (DB명 silverbridge_db)
#  username/password: root/password 기본값
#  JPA ddl-auto
#  개발: update (엔티티 바뀌면 테이블 자동 변경)
#  운영: validate (스키마만 검증)
#  logging
#  Hibernate 실행 쿼리 로그까지 확인 가능

spring:
  application:
    name: silverbridge-backend

  datasource:
    url: jdbc:mariadb://localhost:3306/silverbridge_db?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: ${DB_ROOT_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update           # 개발용: update, 운영은 validate 권장
    properties:
      hibernate:
        format_sql: true

  ai:                           # spring-ai : OpenAI 연결
    openai:
      api-key: ${OPENAI_API_KEY}    # .env에서 읽기
      chat:
        options:
          model: gpt-4o          # gpt 모델
          max-tokens: 128
          temperature: 0.7

server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace

jwt:
  secret: ${JWT_SECRET_KEY}

# 충돌해결 : chatbot, kakao, sms 설정
chatbot:
  senior-friendly: true
  history-limit: 20
  asr:
    std-endpoint: "http://117.17.185.204:9001/asr/transcribe"
    gs-endpoint: "http://117.17.185.204:9001/asr/transcribe"
    jl-endpoint: "http://117.17.185.204:9001/asr/transcribe"
    timeout-ms: 20000
  llm:
    timeout-ms: 20000
  tts:
    openai:
      url: "https://api.openai.com/v1/audio/speech"
      model: "tts-1"
  emotion:
    api:
      endpoint: "http://117.17.185.204:8001/emotion/analyze"

kakao:
  client-id: ${KAKAO_REST_API_KEY}
  client-secret: ${KAKAO_CLIENT_SECRET}
  redirect-uri: http://localhost:8080/api/users/oauth/kakao   # 프엔이 인가 코드를 보낼 엔드포인트
  token-url: https://kauth.kakao.com/oauth/token
  user-info-url: https://kapi.kakao.com/v2/user/me

sms:
  api-key: ${SMS_API_KEY}
  api-secret: ${SMS_API_SECRET}
  sender: ${SMS_SENDER_NUMBER} # 발신자 번호${SMS_SENDER_NUMBER} # 발신자 번호
